@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Playwrite BE WAL";
  src: url("/Playwrite.woff2") format("woff2"),
  url("/Playwrite.woff2") format("woff2");
  font-style: normal;
}